USE [master]
GO
/****** Object:  Database [Rentbook]    Script Date: 4/17/2024 6:23:39 AM ******/
CREATE DATABASE [Rentbook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rentbook', FILENAME = N'D:\Software\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Rentbook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rentbook_log', FILENAME = N'D:\Software\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Rentbook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rentbook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rentbook]
GO
/****** Object:  User [B2014972]    Script Date: 4/17/2024 6:23:39 AM ******/
CREATE USER [B2014972] FOR LOGIN [B2014972] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ChitietChothue]    Script Date: 4/17/2024 6:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietChothue](
	[CTD_MA] [int] NOT NULL,
	[CT_MA] [int] NOT NULL,
	[S_MA] [int] NOT NULL,
 CONSTRAINT [PK_ChitietChothue] PRIMARY KEY CLUSTERED 
(
	[CTD_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chothue]    Script Date: 4/17/2024 6:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chothue](
	[CT_MA] [int] NOT NULL,
	[TV_MA] [int] NOT NULL,
	[CT_NGAYTHUE] [date] NOT NULL,
	[CT_NGAYTRA] [date] NOT NULL,
	[CT_SOLUONG] [int] NOT NULL,
	[CT_GIATIEN] [int] NOT NULL,
 CONSTRAINT [PK_Chothue] PRIMARY KEY CLUSTERED 
(
	[CT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 4/17/2024 6:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[NV_MA] [int] IDENTITY(1,1) NOT NULL,
	[NV_TEN] [nchar](30) NOT NULL,
	[NV_GT] [bit] NOT NULL,
	[NV_EMAIL] [nchar](30) NULL,
	[NV_SDT] [nchar](10) NOT NULL,
	[NV_USERNAME] [nchar](30) NOT NULL,
	[NV_PASSWORD] [nchar](30) NOT NULL,
	[NV_QUYEN] [bit] NULL,
 CONSTRAINT [PK_Nhanvien] PRIMARY KEY CLUSTERED 
(
	[NV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/17/2024 6:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[S_MA] [int] IDENTITY(1,1) NOT NULL,
	[S_TEN] [nchar](100) NOT NULL,
	[S_TACGIA] [nchar](30) NOT NULL,
	[S_THELOAI] [nchar](50) NOT NULL,
	[S_SOLUONG] [int] NOT NULL,
	[S_GIATHUE] [int] NOT NULL,
	[S_NGAYNHAP] [date] NOT NULL,
	[S_TINHTRANG] [nchar](10) NOT NULL,
	[S_GHICHU] [nchar](50) NULL,
	[S_HINHANH] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[S_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thanhvien]    Script Date: 4/17/2024 6:23:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanhvien](
	[TV_MA] [int] IDENTITY(1,1) NOT NULL,
	[TV_TEN] [nchar](30) NOT NULL,
	[TV_GT] [bit] NOT NULL,
	[TV_DIACHI] [nchar](50) NOT NULL,
	[TV_SDT] [nchar](11) NOT NULL,
	[TV_EMAIL] [nchar](30) NULL,
	[TV_NGAYSINH] [date] NOT NULL,
	[TV_GHICHU] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nhanvien] ADD  DEFAULT ((0)) FOR [NV_QUYEN]
GO
ALTER TABLE [dbo].[ChitietChothue]  WITH CHECK ADD  CONSTRAINT [FK_ChitietChothue_Chothue] FOREIGN KEY([CT_MA])
REFERENCES [dbo].[Chothue] ([CT_MA])
GO
ALTER TABLE [dbo].[ChitietChothue] CHECK CONSTRAINT [FK_ChitietChothue_Chothue]
GO
ALTER TABLE [dbo].[Chothue]  WITH CHECK ADD  CONSTRAINT [FK_Chothue_Thanhvien] FOREIGN KEY([TV_MA])
REFERENCES [dbo].[Thanhvien] ([TV_MA])
GO
ALTER TABLE [dbo].[Chothue] CHECK CONSTRAINT [FK_Chothue_Thanhvien]
GO
USE [master]
GO
